@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al proyecto de Calidad de Software</h1>
    <p>Proyecto de autentificación de dos pasos</a>.</p>
</div>
